<template name="Chat">
	<div class="pure-g">
		<div class="pure-u-1 chat">
			{{#each messages}}
				{{> Mensaje}}
			{{/each}}
		</div>
		<div class="pure-u-1">
			<div class="pure-g">
				<div class="pure-u-1-3">
					<input type="text" class="new_mensaje" placeholder="Nombre" data-action="chat-name">
				</div>
				<div class="pure-u-2-3">
					<input type="text" class="new_mensaje" style="float:right" data-action="chat-message" placeholder="¿Qué tenés para contar?">
				</div>
			</div>
		</div>
	</div>
</template>

<template name="Mensaje">
	<div class="line">
		<span class="time">[{{dateToHuman date}}]</span>
		<span class="name">{{name}}: </span>
		<span class="message">{{message}}</span>
	</div>
</template>